---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "All Blogs";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>{pageTitle}, Aqui iremos añadiendo blogs que se me ocurran</h2>
    <ul>
        <li><a href="/posts/post-1/">Primera publicacion</a></li>
        <li><a href="/posts/post-2/">Segundo post</a></li>
        <li><a href="/posts/post-3/">Tercer post</a></li>
    </ul>
</BaseLayout>
